<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedStore | 장바구니</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/43be5ddbe5.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <nav role="navigation">
            <div class="logo">
                <a href="index.html"><img src="assets/logo.png" width="125px"></a>
            </div>
            <ul id="main-menu">
                <li><a href="product-all.html">상품 카테고리</a>
                    <ul id="sub-menu">
                    <li><a href="product-top.html" aria-label="subemnu">상의</a></li>
                    <li><a href="product-bottom.html" aria-label="subemnu">하의</a></li>
                    <li><a href="product-shoes.html" aria-label="subemnu">신발</a></li>
                    </ul>
                </li>
                <li><a href="account.html">계정</a></li>
            </ul>
            <div class="search">
                <input type="text" placeholder="상품 검색하기">
                <i class="fas fa-search"></i>
            </div>
            <div class="cart">
                <a href="cart.html"><img src="assets/cart.png" width="30px" height="30px"></a>
            </div>
        </nav>
    </div>

<!-- cart items details -->
    <div class="small-container">
        <table>
            <tr>
                <th>상품</th>
                <th>수량</th>
                <th>주문 금액</th>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="assets/buy-1.jpg">
                        <div>
                            <p>Red printed T-shirt</p>
                            <small>가격: $50.00</small><br>
                            <a href="">삭제</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>$50.00</td>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="assets/buy-2.jpg">
                        <div>
                            <p>Red printed T-shirt</p>
                            <small>가격: $75.00</small><br>
                            <a href="">삭제</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>$50.00</td>
            </tr>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="assets/buy-3.jpg">
                        <div>
                            <p>Red printed T-shirt</p>
                            <small>가격: $75.00</small><br>
                            <a href="">삭제</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="1"></td>
                <td>$50.00</td>
            </tr>
        </table>

        <div class="total-price">
            <table>
                <tr>
                    <td>총 주문금액:</td>
                    <td>$200.00</td>
                </tr>
            </table>
        </div>
    </div>

    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>iOS, 안드로이드 앱 다운받기</p>
                    <div class="app-logo">
                        <img src="assets/play-store.png">
                        <img src="assets/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="assets/logo-white.png">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At cupiditate qui, quis in nulla tenetur, suscipit, excepturi ea consectetur officiis iure molestiae. Sit distinctio iusto quasi sequi ipsa facilis voluptas?</p>
                </div>
                <div class="footer-col-3">
                    <h3>링크</h3>
                    <ul>
                        <li>쿠폰</li>
                        <li>블로그 포스트</li>
                        <li>환불 정책</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>팔로우</h3>
                    <ul>
                        <li>페이스북</li>
                        <li>트위터</li>
                        <li>인스타그램</li>
                        <li>유튜브</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - SE team7</p>
        </div>
    </div>

    <!-- js for toggle menu -->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px"){
                MenuItems.style.maxHeight = "200px";
            }
            else{
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>

</body>
</html>