<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedStore | 토피 와이드 데님 팬츠</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://kit.fontawesome.com/43be5ddbe5.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <nav role="navigation">
            <div class="logo">
                <a href="/"><img src="../assets/logo.png" width="125px"></a>
            </div>
            <ul id="main-menu">
                <li><a href="/product-all">상품 카테고리</a>
                    <ul id="sub-menu">
                    <li><a href="/product-top" aria-label="subemnu">상의</a></li>
                    <li><a href="/product-bottom" aria-label="subemnu">하의</a></li>
                    <li><a href="/product-shoes" aria-label="subemnu">신발</a></li>
                    </ul>
                </li>
            </ul>
            <div class="search">
                <form action="/product-search" method="get">
                    <input type="search" name="product_name" placeholder="상품 이름 검색하기(enter)">
                    최소가격<input type="number" name="min_price" value=" " placeholder="원하는 최소가격을 입력하세요">
                    최대가격<input type="number" name="max_price" value=" " placeholder="원하는 최대가격을 입력하세요">
                    카테고리<select name="product_category" class="custom-select">
                        <option value="전체">전체</option>
                        <option value="상의" >상의</option>
                        <option value="하의">하의</option>
                        <option value="신발">신발</option>
                      </select>
                      <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                            
                        <button class="btn btn-primary" type="submit">검색하기</button>
                    </div>
                    <!--돋보기 이모티콘<i class="fas fa-search"></i>-->
                    </form>
            </div>
            <% if(session.loggedin) { %>
                <div class="cart">
                    <a href="/cart"><img src="assets/cart.png" width="30px" height="30px"></a>
                </div>
                <% } else {%>
                        <% } %>
        </nav>
    </div>


<!-- single product details -->

<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="/assets/<%=row.pimage%>" width="100%" id="ProductImg">

            <!-- <div class="small-img-row">
                <div class="small-img-col">
                    <img src="assets/bottom1-detail1.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="assets/bottom1-detail2.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="assets/bottom1-detail3.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="assets/bottom1-detail4.jpg" width="100%" class="small-img">
                </div>
            </div> -->
        </div>

        <div class="col-2">
            <p>하의</p>
            <h1><%=row.pname %></h1>
            <h4><%=row.pprice%></h4></h3>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <select>
                <option>사이즈 선택</option>
                <option>XL</option>
                <option>L</option>
                <option>M</option>
                <option>S</option>
            </select>
            <input type="number" value="1">
            <a href="" class="btn">배송지 선택</a><br>
            <a href="" class="btn">즉시 구매</a>
            <a href="" class="btn">장바구니에 추가</a>
            <h3>상품 상세</h3><br>
            <p><%=row.pdetail%></p>
        </div>
    </div>
</div>


    
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>iOS, 안드로이드 앱 다운받기</p>
                    <div class="app-logo">
                        <img src="../assets/play-store.png">
                        <img src="../assets/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="../assets/logo-white.png">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At cupiditate qui, quis in nulla tenetur, suscipit, excepturi ea consectetur officiis iure molestiae. Sit distinctio iusto quasi sequi ipsa facilis voluptas?</p>
                </div>
                <div class="footer-col-3">
                    <h3>링크</h3>
                    <ul>
                        <li>쿠폰</li>
                        <li>블로그 포스트</li>
                        <li>환불 정책</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>팔로우</h3>
                    <ul>
                        <li>페이스북</li>
                        <li>트위터</li>
                        <li>인스타그램</li>
                        <li>유튜브</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - SE team7</p>
        </div>
    </div>
    
    <!-- js for toggle menu -->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px"){
                MenuItems.style.maxHeight = "200px";
            }
            else{
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>

    <!-- js for product gallery -->
    <script>
        var ProductImg = document.getElementById("ProductImg")
        var SmallImg = document.getElementsByClassName("small-img")

        SmallImg[0].onclick = function(){
            ProductImg.src = SmallImg[0].src
        }
        SmallImg[1].onclick = function(){
            ProductImg.src = SmallImg[1].src
        }
        SmallImg[2].onclick = function(){
            ProductImg.src = SmallImg[2].src
        }
        SmallImg[3].onclick = function(){
            ProductImg.src = SmallImg[3].src
        }
    </script>
</body>
</html>