<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedStore | 반스 올드스쿨 블랙</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/43be5ddbe5.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <nav role="navigation">
            <div class="logo">
                <a href="index.html"><img src="assets/logo.png" width="125px"></a>
            </div>
            <ul id="main-menu">
                <li><a href="product-all.html">상품 카테고리</a>
                    <ul id="sub-menu">
                    <li><a href="product-top.html" aria-label="subemnu">상의</a></li>
                    <li><a href="product-bottom.html" aria-label="subemnu">하의</a></li>
                    <li><a href="product-shoes.html" aria-label="subemnu">신발</a></li>
                    </ul>
                </li>
                <li><a href="account.html">계정</a></li>
            </ul>
            <div class="search">
                <input type="text" placeholder="상품 검색하기">
                <i class="fas fa-search"></i>
            </div>
            <div class="cart">
                <a href="cart.html"><img src="assets/cart.png" width="30px" height="30px"></a>
            </div>
        </nav>
    </div>


<!-- single product details -->

<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="assets/shoes1-detail1.jpg" width="100%" id="ProductImg">

            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="assets/shoes1-detail1.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="assets/shoes1-detail2.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="assets/shoes1-detail3.jpg" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="assets/shoes1-detail4.jpg" width="100%" class="small-img">
                </div>
            </div>
        </div>

        <div class="col-2">
            <p>신발</p>
            <h1>반스 올드스쿨 블랙</h1>
            <h4>69,000원</h4></h3>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <select>
                <option>사이즈 선택</option>
                <option>250</option>
                <option>260</option>
                <option>270</option>
                <option>280</option>
                <option>290</option>
            </select>
            <input type="number" value="1">
            <a href="" class="btn">배송지 선택</a><br>
            <a href="" class="btn">즉시 구매</a>
            <a href="" class="btn">장바구니에 추가</a>
            <h3>상품 상세</h3><br>
            <p>올드스쿨은 반스의 클래식한 스케이트 슈즈이며, 반스의 아이콘으로 자리 잡은 사이드 스트라이프를 처음으로 사용한 로우 탑 레이스업 타입의 신발입니다. 견고한 캔버스 업퍼와 신발을 오래 신어도 견딜 수 있도록 우수한 지속성을 더해줄 토캡이 다시 한번 강조되었고, 패드가 가미된 카라로 편안함과 활동성을 더하였습니다. 반스만의 특허 시그니처인 고무와플 아웃솔로 구성되어 있습니다.

            </p>
        </div>
    </div>
</div>

<!-- title -->
    <div class="small-container">
        <div class="row row-2">
            <h2>관련 상품</h2>
            <!-- <p>더보기</p> -->
        </div>
    </div>

<!-- products -->
    <div class="small-container">

            <div class="row">
                <div class="col-4">
                    <a href="shoes2-details.html"><img src="assets/shoes2-thumbnail.jpg"></a>
                    <a href="shoes2-details.html"><h4>아디다스 독일군 스니커즈</h4></a>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>139,000원</p>
                </div>
                <div class="col-4">
                    <a href="shoes3-details.html"><img src="assets/shoes3-thumbnail.jpg"></a>
                    <a href="shoes3-details.html"><h4>아식스 조그 100-2</h4></a>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>59,000원</p>
                </div>
                <div class="col-4">
                    <a href="shoes4-details.html"><img src="assets/shoes4-thumbnail.jpg"></a>
                    <a href="shoes4-details.html"><h4>컨버스 척테일러 올스타</h4></a>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p>59,900원</p>
                </div>
            </div>
    </div>
    
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>iOS, 안드로이드 앱 다운받기</p>
                    <div class="app-logo">
                        <img src="assets/play-store.png">
                        <img src="assets/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="assets/logo-white.png">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At cupiditate qui, quis in nulla tenetur, suscipit, excepturi ea consectetur officiis iure molestiae. Sit distinctio iusto quasi sequi ipsa facilis voluptas?</p>
                </div>
                <div class="footer-col-3">
                    <h3>링크</h3>
                    <ul>
                        <li>쿠폰</li>
                        <li>블로그 포스트</li>
                        <li>환불 정책</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>팔로우</h3>
                    <ul>
                        <li>페이스북</li>
                        <li>트위터</li>
                        <li>인스타그램</li>
                        <li>유튜브</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - SE team7</p>
        </div>
    </div>
    
    <!-- js for toggle menu -->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px"){
                MenuItems.style.maxHeight = "200px";
            }
            else{
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>

    <!-- js for product gallery -->
    <script>
        var ProductImg = document.getElementById("ProductImg")
        var SmallImg = document.getElementsByClassName("small-img")

        SmallImg[0].onclick = function(){
            ProductImg.src = SmallImg[0].src
        }
        SmallImg[1].onclick = function(){
            ProductImg.src = SmallImg[1].src
        }
        SmallImg[2].onclick = function(){
            ProductImg.src = SmallImg[2].src
        }
        SmallImg[3].onclick = function(){
            ProductImg.src = SmallImg[3].src
        }
    </script>
</body>
</html>